@model List<FGC_PWA2025.Models.Pelicula>
<body style="background-color: #f5f5dc;">
<h1 class="text-center my-4">Busca tus peliculas favoritas!</h1>

<form method="get" asp-action="Carrito">
    <div class="form-group">
        <label for="titulo">Titulo</label>
        <input type="text" id="titulo" name="titulo" class="form-control" placeholder="Buscar por titulo" value="@ViewData["Titulo"]" />
    </div>
    <br />
    <div class="form-group">
        <label for="genero">Genero</label>
        <input type="text" id="genero" name="genero" class="form-control" placeholder="Buscar por genero" value="@ViewData["Genero"]" />
    </div>
    <br />
    <div class="form-group">
        <label for="año">Año</label>
        <input type="number" id="fecha" name="fecha" class="form-control" placeholder="Buscar por fecha" value="@ViewData["Fecha"]" />
    </div>
    <br />
    
        <button type="submit" class="btn btn-dark text-white">Buscar</button>
        <a href="/carrito/carrito" class="btn btn-success">Mostrar Todas</a>


    
</form>


    <table class="table table-striped table-hover mt-4">
    <thead>
        <tr>
            <th>Titulo</th>
            <th>Genero</th>
            <th>Fecha</th>
            <th>Duracion</th>
            <th>Costo</th>
            <th>Comprar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var pelicula in Model)
        {
            <tr>
                <td>@pelicula.Titulo</td>
                <td>@pelicula.Genero</td>
                <td>@pelicula.Fecha</td>
                <td>@pelicula.Duracion</td>
                <td>@pelicula.Costo</td>
                    <td>
                        <a class="btn btn-primary" asp-action="Cart" asp-controller="Carrito" asp-route-id="@pelicula.ID">Comprar</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
    <partial name="_Posters" />
</body>