@using FGC_PWA2025.Models
@model List<FGC_PWA2025.Models.Pelicula>

@{
    var pager = ViewBag.Pager as FGC_PWA2025.Helpers.Pager;
}

<body style="background-color: #f5f5dc;">
    <div class="container mt-5">
        <h1 class="text-center mb-4">Listado de Películas</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Titulo</th>
                    <th>Genero</th>
                    <th>Fecha</th>
                    <th>Duracion</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pelicula in Model)
                {
                    <tr>
                        <td>@pelicula.Titulo</td>
                        <td>@pelicula.Genero</td>
                        <td>@pelicula.Fecha</td>
                        <td>@pelicula.Duracion</td>
                        <td>@pelicula.Costo</td>
                    </tr>
                }
            </tbody>
        </table>

        @if (pager != null && pager.TotalPages > 1)
        {
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    @if (pager.CurrentPage > 1)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Menu" asp-route-pg="@(pager.CurrentPage - 1)">Anterior</a>
                        </li>
                    }

                    @for (int p = pager.StartPage; p <= pager.EndPage; p++)
                    {
                        <li class="page-item @(p == pager.CurrentPage ? "active" : "")">
                            <a class="page-link" asp-action="Menu" asp-route-pg="@p">@p</a>
                        </li>
                    }

                    @if (pager.CurrentPage < pager.TotalPages)
                    {
                        <li class="page-item">
                            <a class="page-link" asp-action="Menu" asp-route-pg="@(pager.CurrentPage + 1)">Siguiente</a>
                        </li>
                    }
                </ul>
            </nav>
        }
        <a href="/Carrito/Carrito" class="btn btn-danger text-white d-flex justify-content-center">Agregalas a tu Carrito</a>
    </div>

    <partial name="_Posters" />
</body>
